@model IEnumerable<MontlyTask>
@{
    var titles = ViewData["Titles"] as IEnumerable<string>;
    var selectedtitle = ViewData["SelectedTitles"] as string;
}
<div class="content">
    <h2>Montly Task Dashboard</h2>
    <hr />
    <div class="row">
        <div>
            @if (TempData["Message"] != null)
            {
                <div class="alert alert-success alert-dismissible fade show font-monospace" role="alert">
                    @TempData["Message"]
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="alert">
                    </button>
                </div>
            }
        <div>
            <div class="row mb-3">
                 <div class="col-md-6">
                      <form method="get">
                          <div class="input-group">
                              <select name="Title">
                                  <option value="Select Titles">
                                      @foreach (var items in titles)
                                      {
                                         <option value="@items"
                                             selected="@(selectedtitle = items)">
                                             @items
                                            </option>
                                      }
                                   </option>                               
                              </select>
                                <button type="submit" class="btn btn-primary">Filter</button>
                              
                          </div>
                   </form>
            </div>
            
            </div>
            <div class="mb-2">
                <a asp-action="Create" class="btn btn-primary mb-2">Create</a>
                <table class="table table-bordered table-sm table-hover font-monospace mb-2">
                    <thead class="table-dark">
                        <tr>
                            <th>TaskName</th>
                            <th>TaskStart</th>
                            <th>TaskEnd</th>
                            <th>TaskStatus</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if(Model.Any())
                        {
                            @foreach(var item in Model)
                            {
                                <tr>
                                    <td>@item.DailyTaskName</td>
                                    <td>@item.StartDate</td>
                                    <td>@item.EndDate</td>
                                    <td>@item.TaskStatus</td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Edit</a>
                                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="5" class="text-center text-muted">No Data</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
