@model IEnumerable<LessonPlanner>  
<div class="content">
    <h2>Lesson Planner DashBoard</h2>
    <hr />
    <div class="row">
        <div>
            @if(TempData["Message"] != null)
            {
                <div class="alert alert-success alert-dismissible  fade-show font-monospace" role="alert">
                    @TempData["Message"]
                    <button type="button" class="btn btn-close" data-bs-dismissable="alert"></button>
                </div>
            }
            <div class="col-12 mb-2">
                <a asp-action="Create" class="btn btn-primary">Create</a>
            </div>
            <div class="col-12"> 
                <table class="table table-bordered table-hover table-sm font-monospace">
                    <colgroup>
                        <col class="col-3" />
                        <col class="col-3" />
                        <col class="col-3" />
                        <col class="col-3" />
                        
                    </colgroup>
                    <thead class="bg-danger text-dark">
                        <tr>
                            <th>LessonTitle</th>
                            <th>LessonName</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    @foreach(var item in Model)
                    {
                        <tr>
                            <td>@item.LessonTittle</td>
                            <td>@item.LessonName</td>
                            <td>@item.LessonDescription</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id"  class="btn btn-primary">Edit</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    }

                </table>

            </div>
        </div>
    </div>

</div>